.master_div {
	display: 'flex';
	flex-direction: 'column';
	width: '100%';
	background-color: '#F5F5F5';
	height: '100vh';
	@media (max-width: 1250px) {
		height: 'fit-content';
	}
}

.wrapper {
	padding: 40px 20px;
	display: flex;
	align-items: flex-start;
	margin: 0 auto;

	@media (max-width: 1250px) {
		flex-direction: column;
	}
}

.wrapperLeft {
	border: 1px solid rgba(75, 112, 154, 0.28);
	border-radius: 4px;
	box-shadow: 0px 0.65px 0px rgba(75, 112, 154, 0.28);
	flex: 1;
}

.wrapperRight {
	border: 1px solid rgba(75, 112, 154, 0.28);
	border-radius: 4px;
	box-shadow: 0px 0.65px 0px rgba(75, 112, 154, 0.28);
	flex: 1;
	margin-left: 20px;
	background-color: #ffffff;
	// overflow: hidden;
	@media (max-width: 1250px) {
		margin-left: 0px;
		width: 100%;
		// overflow: visible;
		margin-top: 20px;
	}
}

.headingWrapperflex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	box-shadow: inset 0px -0.65px 0px rgba(75, 112, 154, 0.24);
}

.amountLeft {
}

.amountLefth5 {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	/* identical to box height, or 20px */
	/* dark-blue/80% */
	color: rgba(0, 40, 65, 0.8);
}

.amountLefth2 {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */

	/* dark-blue/main */

	color: #002841;
}
.middleInput {
	margin: 0px 20px;
}

.listwrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	margin: 0;
	box-shadow: inset 0px -0.65px 0px rgba(75, 112, 154, 0.24);
}

.listleft {
}

.listright {
}
.listleftp1 {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	/* identical to box height, or 20px */

	/* dark-blue/80% */

	color: rgba(0, 40, 65, 0.8);
}

.listleftp2 {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	/* identical to box height, or 20px */

	/* dark-blue/80% */

	color: rgba(0, 40, 65, 0.8);
}

.messageTop {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 60px;
	padding: 16px;
	background: #f9f9fa;
	box-shadow: 0px 0.65px 0px rgba(75, 112, 154, 0.28);
	border-radius: 8px 8px 0px 0px;
}

.messageTopP {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	color: #002841;
}

.firstContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 40px 0;
	grid-gap: 20px;
}

.firstContainerComp {
	display: flex;
	align-items: flex-start;
}

.firstContainerCompS {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}

.firstContainerComp_left {
	width: 56px;
	height: 56px;
	background: #f5f5f5;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img_first {
	display: flex;
	align-items: center;
	justify-content: center;
}

.firstContainerComp_right {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	margin-top: 5px;
	margin-left: 15px;
}
.firstContainerCom_pH {
	padding: 0;
	margin: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	/* identical to box height, or 20px */

	/* dark-blue/80% */

	color: rgba(0, 40, 65, 0.8);
}

.firstContainerComp_pC {
	padding: 0;
	margin: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	/* identical to box height, or 20px */

	/* dark-blue/80% */
	display: flex;
	align-items: center;
	color: rgba(0, 40, 65, 0.8);
}

.firstContainerComp_pE {
	padding: 0;
	margin: 0;
	color: #f71735;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	/* identical to box height, or 20px */

	/* dark-blue/80% */

	// color: rgba(0, 40, 65, 0.8);
}

.lines {
	border: 0.3px solid rgba(75, 112, 154, 0.24);
	width: 100%;
	margin: 40px 0 0 0;
}

.liness {
	border: 0.3px solid rgba(75, 112, 154, 0.24);
	width: 100%;
	margin: 0 0 40px 0;
}

.secondContainer {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 30px 0 0 0;
}

.secondContainerLeft {
	flex: 1;
}

.secondContainerRight {
	flex: 1;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}

.rounded {
	width: 194px;
	height: 194px;
	/* system/white */
	background: #ffffff;
	/* dark-blue/60% */
	border: 2px solid rgba(0, 40, 65, 0.6);
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.roundedp1 {
	margin: 0;
	padding: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */

	/* dark-blue/80% */

	color: rgba(0, 40, 65, 0.8);
}
.roundedp2 {
	margin: 0;
	padding: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	/* or 18px */

	text-transform: uppercase;

	/* dark-blue/80% */

	color: rgba(0, 40, 65, 0.8);
}
.roundedp3 {
	margin: 0;
	padding: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	/* identical to box height, or 20px */

	/* dark-blue/80% */

	color: rgba(0, 40, 65, 0.8);
	position: absolute;
	top: 160px;
	// left: 25%;
	z-index: 999;
	// border: 1px solid red;
	padding: 10px 3px;
	background-color: #ffffff;
	border: none;
	outline: none;
}

.thirdContainer {
	margin-top: -10px;
	overflow: hidden;
}

.list_step {
	display: flex;
	align-items: center;
	position: relative;
	margin: 20px 0;
}

.list_step_time {
	margin: 0;
	padding: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	/* or 18px */

	/* dark-blue/80% */

	color: rgba(0, 40, 65, 0.8);
}

.list_step_empty {
	width: 6px;
	height: 6px;
	// background: #002841;
	border-radius: 50%;
	margin: 0 20px;
}

.list_step_desc {
	margin: 0;
	padding: 0;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	color: rgba(0, 40, 65, 0.8);
}

.vl {
	border-left: 1px solid rgba(75, 112, 154, 0.24);
	height: 80px;
	position: absolute;
	left: 60px;
	// margin-left: -3px;
	top: -30px;
	z-index: 1;
}
